<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>定一个旺年小目标吧</title>
	<script src="{{$jsSite}}viewportWidth.js"></script>
	<link rel="stylesheet" href="{{$cssSite}}swiper.min.css">
	<link rel="stylesheet" href="{{$cssSite}}index.css">
</head>
<body>
	<audio style="width:0;height:0;opacity: 0;" src="/external/sim-20180217/view/templates/music/allMusic.mp3" autoplay="auto" loop="loop" id="audio"></audio>
	<audio style="width:0;height:0;opacity: 0;" src="/external/sim-20180217/view/templates/music/onlineMusic.mp3" id="audioLone"></audio>
	<div class="musiclogo musicact" monitor="音频点击,点击">
		<img src="/external/sim-20180217/view/templates/images/musiclogo.png" />
	</div>
	<!-- loading部分 -->
	<div class="loading">
		<div class="loadingBox">
			<div class="dog">
				<img src="{{$imageSite}}loadingleft.png" class="loadingleft" alt="">
				<img src="{{$imageSite}}loadingright.png" class="loadingright" alt="">
			</div>
			<div class="dogbot">
				<img src="{{$imageSite}}dogbottom.png" alt="">
			</div>
		</div>
	</div>
	<!-- 蒙层部分 -->
	<div class="jumpBox">
		<p class="jumptop">
			向上滑动可以回到之前看到的小目标喔
		</p>
		<div class="jumpBottom">
			<p>点按箭头<br/>找到满意的小目标<br/><br/>然后点按圆盘生成自己的小目标海报</p>
		</div>
	</div>
	<!-- 首页 -->
	<div class="content" data-url="index">
		<!-- logo -->
		<div class="logoIcon">
			<img src="{{$imageSite}}sienmensLogo.jpg" alt="">
		</div>
		<!-- 中心部分 -->
		<div class="swiper-box">
			<!-- 文字部分 -->
			<div class="swiper-container">
				<div class="swiper-wrapper"></div>
			</div>
		</div>
		<!-- footer -->
		<div class="index-footer">
			<!-- 下滑标识 -->
			<div class="arrowBottom" monitor="下滑按钮,点击">
				<img src="{{$imageSite}}bottomArrow.png" alt="">
			</div>
			<img src="{{$imageSite}}indexFooter.png" alt="">
			<!-- 点击部分 -->
			<span class="footer-click"><a href="#" monitor="跳转生成图片页面,点击">
				<img src="{{$imageSite}}gotoTpage.png" alt="">
			</a></span>
		</div>
	</div>
	<script src="{{$jsSite}}jquery.1.11.3.js"></script>
	<script src="{{$jsSite}}swiper.jquery.min.js"></script>
	<script src="{{$jsSite}}index.js?v=<?php echo rand(10000,99999);?>"></script>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js','openid':'{{$blueopenid}}'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TRDV4QQ');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TRDV4QQ"
					  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
        wx.config({
            appId: '{{$signPackage["appId"]}}',
            timestamp: '{{$signPackage["timestamp"]}}',
            nonceStr: '{{$signPackage["nonceStr"]}}',
            signature: '{{$signPackage["signature"]}}',
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'closeWindow','onMenuShareTimeline','onMenuShareAppMessage','hideOptionMenu','showOptionMenu'
            ]
        });
        wx.ready(function () {
            wx.showOptionMenu();
            wx.onMenuShareTimeline({
                title: '测一测旺年你会旺什么？',
                link: 'http://www.wechat.siemens.com.cn/external/sim-20180217/index.php?m=event&a=index',
                imgUrl: 'http://www.wechat.siemens.com.cn/external/sim-20180217/view/templates/images/share.jpg',
                success: function() {
                    sendShare(1,1);
                },
                cancel: function() {
                    sendShare(0,1);
                }
            });

            wx.onMenuShareAppMessage({
                title: '测一测旺年你会旺什么？',
                desc : '西门子祝您旺年一切顺利！',
                link: 'http://www.wechat.siemens.com.cn/external/sim-20180217/index.php?m=event&a=index',
                imgUrl: 'http://www.wechat.siemens.com.cn/external/sim-20180217/view/templates/images/share.jpg',
                type: '',
                dataUrl: '',
                success: function() {
                    sendShare(1,1);
                },
                cancel: function() {
                    sendShare(0,1);
                }
            });

            var allAudio = document.getElementById('audio');
            allAudio.play();
        });

        function sendShare(status, page) {
            $.post('http://www.wechat.siemens.com.cn/external/sim-20180217/?m=Event&a=share',{status:status,page:page},function(date){})
        }
	</script>
</body>
</html>