<script type="text/javascript">
var blueopenid='{{$blueopenid}}';
</script>
<script>
(function() {
  var blue_hm = document.createElement("script");
  blue_hm.src = "http://tracking.blue-dot.cn/js/monitor.js";             
  var blue_s = document.getElementsByTagName("script")[0];
  blue_s.parentNode.insertBefore(blue_hm, blue_s);

	  //数据监测js文件加载后调用
	  blue_hm.onload = function(){
		  blue_tracker_monitor('init',{
			   'openid':''+blueopenid+'',           //用户openid
			   'unionid':'',                                             //用户在多微信公众号中的身份 unionid
			   'prjid':'BDWA-000010-1',                                             //跟踪id
			   'otherid':''                                  //网站其他用于登陆的用户id
			   
		  }); 
	  }
})();
</script>
