* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  /*系统默认菜单被禁用*/
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  width: 750px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  position: relative;
  margin: 0 auto;
  background: url(../images/SIEMENSbg.jpg) top center / 750px auto;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  width: 100%;
  border: none;
  -webkit-user-select: none;
  /*webkit浏览器*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.loading {
  width: 100%;
  height: 100%;
  background: #980407;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.loading .loadingBox {
  width: 158px;
  height: 167px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.loading .loadingright {
  display: none;
}
.loading .dog {
  width: 96px;
  margin: 0 auto;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.content .logoIcon {
  width: 190px;
  position: absolute;
  top: 27px;
  left: 30px;
  z-index: 99;
}
.content .index-footer {
  width: 750px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content .index-footer .footer-click {
  display: block;
  width: 374px;
  height: 128px;
  position: absolute;
  bottom: 0;
  left: 164px;
}
.arrowBottom {
  width: 96px;
  position: absolute;
  top: 20px;
  left: 327px;
  -webkit-animation: arrow 3s ease infinite;
  animation: arrow 3s ease infinite;
}
.swiper-box {
  width: 414px;
  height: 1206px;
  background: url(../images/swiperBg.jpg) no-repeat center center / contain;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-207px);
  transform: translateX(-207px);
}
.swiper-box .swiper-container {
  width: 330px;
  height: 550px;
  margin: 165px auto 0;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
}
.swiper-slide img {
  width: auto;
  max-height: 98%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.pictureCont {
  width: 414px;
  height: 1206px;
  background: url(../images/swiperBgT.jpg) no-repeat center center / contain;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 168px;
}
.pictureCont .peoplePict {
  width: 240px;
  height: 120px;
  margin: 50px auto 38px;
  position: relative;
}
.pictureCont .peoplePict .wang {
  width: 38px;
  height: 120px;
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 34px;
  color: #d4af88;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
}
.pictureCont .pictureTxt {
  width: 100%;
  margin: 20px auto 0;
}
.pictureCont .pictureTxt > img {
  width: auto;
  max-height: 500px;
  margin: 0 auto;
}
.portrait {
  width: 190px;
  height: 130px;
  position: relative;
  background: url(../images/peopleBg.png) no-repeat center center / contain;
}
.portrait .thisImg {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  left: 52px;
}
.portrait .thisName {
  width: 80px;
  position: absolute;
  bottom: 6px;
  left: 52px;
  text-align: center;
  height: 22px;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.canvasBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  overflow: hidden;
}
.canvasBox .canvasBoxbg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}
.canvasBox .mypicture {
  width: 220px;
  height: 152px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.canvasBox .mypicture .mypicImg {
  width: 209px;
  position: absolute;
  top: 0;
  left: 0;
}
.canvasBox .mypicture .mycode {
  width: 96px;
  position: absolute;
  right: 40px;
  bottom: 14px;
}
.mypictureImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
}
.mypictureImg > img {
  -webkit-user-select: all;
  /*webkit浏览器*/
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  pointer-events: auto;
}
@-webkit-keyframes arrow {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@keyframes arrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
